.jumbotron {
  color: white;
  font-family: "Andale Mono", monospace;
  text-align: center;
  margin: 2%;
  background-color: lightgrey;
}
#output {
  display: none;
  font-family: "Andale Mono", monospace;
  font-size: x-large;
  padding: 2%;
}

#no-compute,
#broken {
  display: none;
}

body {
  background-color: rgb(206 255 245 / 82%);
}

img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
